<div class="chat-container">
  <div class="chat-messages justify-between overflow-auto">

    <div class="grid gap-y-2">

      <!-- Chat Messages -->
      <app-chat-message
        [text]="'Escribe el texto que quieres que revise.'"
      />
      @for (message of messages(); track $index) {
        @if (message.isGpt) {
          <app-gpt-message-orthography
            [userScore]="message.info!.userScore"
            [text]="message.info!.message"
            [errors]="message.info!.errors"
          />
        } @else {
          <app-my-message
            [text]="message.text"
          />

        }
      }

      @if (isLoading()) {
        <app-typing-loader/>
      }

    </div>

    <!-- Message Box -->
    <app-text-message-box
      [placeholder]="'Escribe aquí lo que deseas'"
      (onMessage)="handleMessage($event)"
      [disableCorrections]="true"
    />

  </div>
</div>
